@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&family=Yeseva+One&display=swap');
/*
    font-family: 'Open Sans', sans-serif;
    font-family: 'Yeseva One', cursive;
*/


:root{
    --primary-color: #19323C;
    --secondary-color: #F2545B;
    --background-color:  #F3F7F0;

    --white: #fff;
    --primary-gray: #ccc;

    --font-primary: 'Open Sans', sans-serif;
    --font-head: 'Yeseva One', cursive;
}

/**


SEcondary color:      #F2545B
Backgournd CREAM  #F3F7F0
PRimary color : BLACK : #19323C

*/
/**x
    BASE HTML TAGS
*/

body {
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--primary-color);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-head);
    color: var(--secondary-color);
    line-height: 1.5;
    margin-top: .75em;
    margin-bottom: .75em;
}

h1 {
    font-size: 2.25rem; /** 36px **/
}

h2 {
    font-size: 2rem ; /** 32 Px **/
}
h3 {
    font-size: 1.875rem; /** 30 px **/
}
/** Specificity Selector **/

h1.page-title {
    display: table;
    text-align: center;
    background-color: var(--secondary-color );
    color: var(--white);
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 1em;
}

section.intro h2, section.intro h3  {
    text-align: center;
}
section.intro h2.name {
    margin-bottom: 0;
}
section.intro h3.position {
    margin: 0;
    margin-bottom: 1em;
    font-size: 1.25rem;
    font-family: var(--font-primary);
    text-transform: uppercase;
}


.experience  p  {
    margin: .1em;
}
.experience  p.position  {
    font-weight: 800;
}
.experience  p.company  {
    font-size: 0s.875rem;
}

.experience table {
    width: 70%;
}

/** Table Styling **/
table.t-border{
    border: 3px solid var(--primary-color );
    border-collapse: collapse;
    
}
table.t-border td{
    border: 3px solid var(--primary-color );
    padding: .2em .5em;
}
table.t-border th{
    background-color: #ccc;
    text-transform: uppercase;
    font-family: var(--font-head);
    padding: 1em 0;
}
table.t-border tr:hover{
    background-color: var(--primary-color);
    color: var(--white);
    cursor:grab;

}

.quote blockquote{
    font-style: italic;

}
.clr-primary {
    color: var(--primary-color) !important;
}
.clr-secondary {
    color: var(--secondary-color) !important;
}



/** Layout **/


.container {
    width: 80%;
    margin: 0 auto;
    /* padding: 10px 10px 10px 10px; */
    /* padding: 10px; */
    padding: 0px 2em;
    margin-bottom: 1.5rem;
}

/** Helper Classes **/
.default-background
{
    background-color: var(--background-color) !important;
}

.default-border {
    border: 3px solid var(--secondary-color );
    border-bottom: 3px var(--secondary-color) solid  ;
}

/** to add a drop cap **/
.drop {
    font-size: 6rem;
    float:left;
    margin-right: 9px;
    line-height: .8;
}

.align-center {
    margin: 0 auto;
    display: block;
}
.avatar img {
    max-height: 150px;
}
.avatar-round {
    border-radius: 50%;

}

